:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: #011220;
}

/* Menubar */
.diagonosis--page--container {
  background-color: #eee;
  position: relative;
}

.diagonosis--page--container div {
  display: flex;
  flex-direction: column;
}

.diagonosis--page--container div span {
  font-size: 0.6rem;
}

.menu--bar {
  cursor: pointer;
}

/* Menu Items */
.menu--items {
  width: 90%;
  margin: 0 auto;
  background-color: var(--tertiary);
  border-radius: 30px;
  box-shadow: 0 3px 2px 2px #dfdfdf;
  padding: 30px 20px;
  font-size: 0.8rem;
  position: absolute;
  z-index: 2;
  clear: both;
  display: none;
}

.menu--items--displayer {
  display: block;
}

.menu--items li {
  padding: 10px 0;
  cursor: pointer;
}

.menu--items li a {
  color: var(--primary);
}

.menu--items li:hover {
  transform: translate(5px, 0);
}

/* Diagnosis form */
.stroke--diagnosis--form {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Body pressure */
.blood--pressure--wrapper,
.body--mass--index--wrapper,
.cigarretes--smoked--wrapper,
.physical--activity--wrapper {
  background: var(--tertiary);
  color: var(--primary);
  padding-left: 8px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.blood--pressure--wrapper input,
.body--mass--index--wrapper input,
.cigarretes--smoked--wrapper input,
.physical--activity--wrapper input {
  border-bottom: solid 1px var(--primary) !important;
}

.blood--pressure--wrapper ::placeholder,
.body--mass--index--wrapper ::placeholder,
.cigarretes--smoked--wrapper ::placeholder,
.physical--activity--wrapper ::placeholder {
  color: #fff !important;
}

/* Body mass index */
.body--mass--index--wrapper {
  color: var(--primary);
}

.body--mass--index--wrapper input {
  color: var(--primary);
}

/* Blood pressure */
.blood--pressure--wrapper {
  background-color: #eee;
  color: var(--secondary);
}
.blood--pressure--wrapper input {
  color: var(--secondary) !important;
  border-bottom: solid 1px var(--secondary) !important;
}
.blood--pressure--wrapper ::placeholder {
  color: var(--secondary) !important;
}

/* cigarretes smoked */
.cigarretes--smoked--wrapper {
  color: var(--secondary) !important;
  background-color: #eee;
}
.cigarretes--smoked--wrapper input {
  color: var(--secondary) !important;
  border-bottom: solid 1px var(--secondary) !important;
}

/* Physical activity */
.physical--activity--wrapper {
  color: var(--primary) !important;
}
.physical--activity--wrapper input {
  color: var(--primary) !important;
}

.stroke--diagnosis--form div * {
  width: 80%;
}

.stroke--diagnosis--form div label {
  padding: 5px 0;
}

.stroke--diagnosis--form div h4 {
  padding-top: 30px;
}

.physical--activity--wrapper span {
  padding-bottom: 20px;
}

.form--buttons--wrapper {
  display: flex;
}

.form--buttons--wrapper #okay-button {
  background: var(--tertiary) !important;
  color: var(--primary);
}

.form--buttons--wrapper #okay-button,
.form--buttons--wrapper #clear-button {
  width: 100px;
  border-radius: 0;
  border: solid 1.5px #000;
  padding: 7px 10px;
  background-color: #fff;
  cursor: pointer;
  margin: 5px 0;
}

/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* max ipad and mini laptop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

/* desktop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}
