<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="XSTROKE EE" />
    <meta name="author" name="Emmanuel Onah AfricLite" />
    <meta name="keywords" name="XSTROKE EE,Expert System,Stroke Application,AfricLite Systems,AfricLite,Estonia Stroke Preventor" />
    <title>Estonian ID Login| XSTROKE EE</title>
    <!-- Browser Fav icon -->
    <link rel="icon" href="https://i.ibb.co/bsFfPhM/logo.jpg" />
    <!-- Styles -->
    <link rel="stylesheet" href="../../src/styles/&__general.style.css" />
    <link rel="stylesheet" href="./login.style.css" />
    <link rel="stylesheet" href="./estonian-id-login.style.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/054170e3d7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container login--container" role="main">
      <a href="../../index.html" aria-describedat="This is an icon button that takes you back to the landing page"><i class="fa fa-home"></i></a>
      <img src="../../src/assets/images/login-page-bg.png" alt="" class="login--bg--img" />

      <div class="login--container--row--two">
        <h2 class="logo">XSTROKE EE</h2>
        <h1>Welcome Back</h1>
        <p class="new--to--xstroke">New to XSTROKE EE? <a href="./signup.component.html">Sign up</a></p>
        <form class="estonian--id--login--form">
          <label for="estonianId">Estonian ID</label>
          <input type="text" name="estonian_id" id="estonianId" placeholder="Your estonian Id" required />
          <input type="submit" value="Login" id="login" aria-label="Click to login" />

          <p class="or--login--with">Or log in with</p>
          <button class="estonian__id email__login">Email</button>
          <span class="checkbox--wrapper"> </span>
          <p class="terms--and--privacy">By continuing you accept our <a href="./terms.component.html">Terms of Use</a> and <a href="./privacy-policy.component.html">Privacy Policy</a>.</p>
        </form>
      </div>
    </div>

    <!-- Scripts -->
    <script src="./estonian-id-login.component.js"></script>
  </body>
</html>
