<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/054170e3d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../src/styles/&__general.style.css" />
    <link rel="stylesheet" href="../../src/styles/&__footer.style.css" />
  </head>
  <body>
    <div class="container">
      <footer>
        <!-- Internationalization row1 or col2 -->
        <select name="internationalization" id="internationalization">
          <option value="English US-EN">English</option>
          <option value="Estonian Es-es">Estonian</option>
        </select>

        <!-- row 2 or col 2 -->
        <div>
          <h2 class="logo">XSTROKE EE</h2>
          <ul class="terms--privacy--wrapper">
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>

          <ul class="social--media">
            <li>
              <a href="https://www.instagram.com/emmanuelonahafriclite/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/Jeremia82064196" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/chiboy.joseph.142" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
          </ul>
        </div>

        <!-- row 3 or col 3 -->
        <div class="copyright">&copy;<time class="system--date"></time>. made with <span role="img"> ❤️ </span> by <a href="https://www.youmustknowjs.com/" target="_blank"> AfricLite</a></div>
      </footer>
    </div>
  </body>
</html>
