/* variables */
:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: #011220;
  --doctorate: #1e90ff;
}

.login--container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fa-home {
  text-align: right;
}

.login--bg--img {
  max-width: 80%;
  margin: 0 auto;
}

.login--container--row--two h2 {
  font-size: 0.9rem;
  padding: 30px 0;
  color: var(--tertiary);
  font-family: "Metal Mania", cursive;
}

.login--container--row--two h1 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.new--to--xstroke {
  font-size: 0.8rem;
}

.login--container--row--two a {
  font-size: 0.8rem;
  color: var(--doctorate);
  text-decoration: underline;
}

input[type="submit"] {
  padding: 10px 10px;
  background-color: var(--tertiary);
  color: var(--primary);
  border: 0;
  font-size: 0.9rem;
  margin-top: 20px;
}

.or--login--with {
  font-size: 0.9rem;
  padding: 10px 0;
}

.estonian__id {
  font-size: 0.8rem;
  width: 100px;
  background: linear-gradient(to right, var(--doctorate), var(--tertiary));
  border-radius: 50px;
}

.checkbox--wrapper {
  margin-top: 20px;
}



label[for="rememberDevice"] {
  padding: 0 10px;
}

.terms--and--privacy {
  font-size: 0.8rem;
  padding-top: 20px;
}

a[href="../../index.html"] {
  color: var(--secondary);
}

/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* max ipad and mini laptop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

/* desktop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}
