/* Variable */
:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: #011220;
  --success: #008000;
  --yellow: #ffd000;
}

/* mobile style */
.modal {
  background-color: var(--primary);
  width: 90%;
  height: 250px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px 4px #ececec;
  position: relative;
}

.modal__displayer {
  display: block;
}

.modal__menu__icon {
  position: absolute;
  right: 20px;
  top: 30px;
}

.modal__menu__icon .top {
  transform: rotate(50deg);
  margin: 0;
  width: 15px !important;
}

.modal__menu__icon .bottom {
  transform: rotate(135deg);
  width: 15px !important;
  margin: 0;
  margin-top: -2.7px;
}

.modal img {
  width: 50px;
}

.okay--button {
  border-radius: 50px;
  width: 80%;
  background: var(--success);
}

.error__button {
  background: var(--yellow);
  color: var(--secondary);
}

/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* max ipad and mini laptop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }

  .modal {
    width: 60%;
    margin: 0 auto;
  }
}

/* desktop screen*/
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
