:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: #011220;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
}

h3 {
  font-size: 0.9rem;
}

button {
  cursor: pointer;
  width: 170px;
  height: 40px;
  font-size: 0.8rem;
  background: var(--tertiary);
  border: 0;
  color: var(--primary);
  margin-top: 20px;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
}

a:hover {
}

a:active {
}

a:visited {
}

:disabled {
}

:required {
  outline: none;
  box-shadow: none;
}

:focus {
  outline: none;
}

::placeholder {
  color: #6b6b6b;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

form input:not([type="submit"]) {
  background: transparent;
  border: 0;
  border-bottom: solid 1px var(--tertiary);
}

label {
  font-size: 0.8rem;
  padding: 15px 0;
}

button,
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;
}

.logo {
  font-size: 0.9rem;
  font-family: "Metal Mania", cursive;
}

/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* max ipad and mini laptop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

/* desktop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}
