:root {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #011220;
}

.about-stroke-heading {
    margin-top: 40px;
}

.about-page-container.logo {
    padding-left: 0;
}

.testing-steps-wrapper div {
    margin-top: 30px;
}

.testing-steps-wrapper div img {
    width: 70%;
    margin: 0 auto;
}

.testing-steps-wrapper h3 {
    font-size: 1rem;
}

.steps-scroller-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border: solid 1px var(--secondary);
    margin-top: 40px;
}

.steps-scroller-wrapper li {
    border: solid 1px var(--tertiary);
}

.steps-scroller-wrapper li a {
    font-size: 0.7rem;
    color: var(--tertiary);
}

.step-wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #e4e4e4;
    padding: 0 20px 20px 20px;
}

@media screen and (min-width: 960px) {
    .about-page-container {
        padding: 0 70px;
    }
}

@media screen and (min-width: 1200px) {
    .about-page-container {
        padding-top: 40px;
    }

    .testing-steps-wrapper {
        text-align: center;
    }

    .testing-steps-wrapper div img {
        width: 40%;
        margin: 0 auto;
    }
}
