.cookies--wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border-top: solid 0.5px #bebebe;
}

.cookies--wrapper div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.cookies--wrapper div a {
  color: #1e90ff;
}

.cookies--button--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.decline__cookies__button,
.accept__cookies__button {
  border-radius: 5px;
  width: 50%;
  color: #000;
}

.decline__cookies__button {
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
}

.accept__cookies__button {
  background-color: #000;
  color: #fff;
  margin-right: 5px;
}

.learn__more {
  text-decoration: underline;
}

@media screen and (min-width: 760px) {
  .cookies--wrapper {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    padding: 50px 10px;
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }

  .cookies--wrapper {
    width: 80%;
    height: 600px;
    top: 90px;
    left: 0;
  }

  .cookies--wrapper img {
    width: 15%;
    padding-right: 40px;
  }

  .cookies--wrapper div:nth-child(2) {
    width: 50%;
    padding-right: 40px;
  }

  .cookies--wrapper div:nth-child(3) {
    width: 15%;
    flex-direction: column;
    justify-content: flex-end;
  }

  .cookies--wrapper div:nth-child(3) button {
    margin-top: 0;
  }

  .cookies--wrapper div:nth-child(3) button:first-child {
    margin-bottom: 5px;
  }

  .cookies--wrapper p {
    font-size: 0.8rem;
  }

  .cookies--button--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .decline__cookies__button,
  .accept__cookies__button {
    width: 100%;
  }
}

/***
 *
 * this is short cookies documentation
 * the div that wraps the cookies has a class called cookies--wrapper
 * then the wrapper has an img with a cookies image resource
 * the another div with heading and p tag
 * and lastly a div with two buttons(accept__cookies__button and decline__cookies__button)
 */
