:root {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #011220;
    --success: #008000;
    --yellow: #ffd000;
}

.modal {
    background-color: var(--primary);
    width: 90%;
    height: 250px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    border: solid 0.8px rgb(218, 218, 218);
    position: absolute;
    z-index: 2;
    clear: both;
    left: 0;
    right: 0;
    top: 0;
}

.modal__displayer {
    display: block;
}

.modal__menu__icon {
    position: absolute;
    right: 20px;
    top: 30px;
}

.modal__menu__icon .top {
    transform: rotate(50deg);
    margin: 0;
    width: 15px !important;
}

.modal__menu__icon .bottom {
    transform: rotate(135deg);
    width: 15px !important;
    margin: 0;
    margin-top: -2.7px;
}

.modal img {
    width: 50px;
}

.okay--button {
    border-radius: 50px;
    width: 80%;
    background: var(--success);
}

.error__button {
    background: var(--yellow);
    color: var(--secondary);
}

@media screen and (min-width: 960px) {
    .modal {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 40%;
    }

    .okay--button,
    .error__button {
        width: 50%;
    }
}
