@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* variables */
:root {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #011220;
}

/* Mobile Style */
.wrapper-one {
    background-color: #0f2257;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper-one .logo {
    color: var(--primary);
}

.landing--page--content--wrapper {
    padding: 200px 0px 160px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--primary);
    margin: 0 auto;
}

.landing--page--content--wrapper h1 {
    line-height: 1.2;
    padding-bottom: 20px;
    font-size: 3.5em;
}

.landing--page--content--wrapper p {
    padding-bottom: 20px;
    font-size: 1em;
    line-height: 2;
}

.landing--page--content--wrapper p:first-of-type {
    padding-bottom: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.give__try {
    height: 50px;
    width: 200px;
    font-size: 0.98em;
    background-color: transparent;
    border: solid 2px var(--primary);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.give__try:hover {
    transform: scale(1.1);
}

.blue-bg-overlay {
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 700px 0px 160px;
    background-image: url(../assets/images/landing-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.03;
    top: 0;
}

/* what we do style */
.step__wrapper {
    border: solid 1px #dfdfdf;
    box-sizing: 2px 2px 2px 2px #eee;
    border-radius: 10px;
    padding: 20px;
}

.footer {
    padding-top: 50px;
    border-top: solid 1px #eee;
}

/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* min laptop screen*/
@media screen and (min-width: 960px) {
}

/* desktop screen*/
@media screen and (min-width: 1200px) {
    .wrapper-two {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .all-steps-container {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    .all-steps-container .step__wrapper {
        width: 30%;
    }
}
