@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* variables */
:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: #011220;
}

/* Mobile Style */
.landing--page--container {
  width: 100%;
  overflow: hidden;
  height: fit-content;
}

.landing--page--content--wrapper {
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.landing--page--content--wrapper img {
  width: 100%;
}

.landing--page--content--wrapper h1 {
  font-size: 1rem;
  line-height: 1.2;
  padding-bottom: 20px;
}

.landing--page--content--wrapper p {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.give__try {
  height: 50px;
  width: 200px;
  font-size: 0.98em;
}

/* .clipath--div {
  clip-path: circle(59.3% at 41% 100%);
  padding: 50px 50px;
  background-image: url(../assets/images/auth-bg.png);
  background-repeat: repeat;
  background-position: center;
} */

/* mini ipad screen*/
@media screen and (min-width: 620px) {
  .landing--page--content--wrapper h1 {
    max-width: 60%;
    font-size: 1.2rem;
  }
}

/* desktop screen*/
@media screen and (min-width: 960px) {
  html {
    font-size: 17px;
  }

  .landing--page--content--wrapper {
    padding-top: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .landing--page--content--wrapper img {
    width: 50%;
  }

  .text__content__wrapper {
    width: 50%;
    text-align: start;
  }

  .landing--page--content--wrapper h1 {
    max-width: 80%;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: lowercase;
    font-family: "Open Sans", sans-serif;
  }

  .landing--page--content--wrapper p {
    max-width: 80%;
  }

  .give__try {
    font-weight: 100;
  }
}
