:root {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #011220;
}

.menu--items {
    width: 60%;
    margin: 0 auto;
    background-color: var(--tertiary);
    padding: 30px 20px;
    font-size: 0.8rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    clear: both;
    display: none;
    height: 100vh;
}

.menu--items--displayer {
    display: block;
}

.menu--items li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 0.9rem;
    border-bottom: solid 1px #011e36;
}

.menu--items li a {
    color: var(--primary);
}

.menu--items li:hover {
    transform: translate(5px, 0);
}

@media screen and (min-width: 1200px) {
    .menu--items {
        width: 35%;
        max-width: 35%;
    }
}
