:root {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #011220;
}
/* mobile style */
.security--heading {
    font-size: 1.5rem;
    margin-top: 50px;
}

.security--page--container .logo {
    padding-left: 0;
}

.security--page--container .security--bg {
    width: 80%;
    margin-top: 50px;
}

.security--list {
    font-size: 0.9rem;
    margin-top: 30px;
}

.security--list li:nth-child(1)::before {
    content: url(../assets/images/gdpr.png);
    width: 10px !important;
    height: 10px !important;
    padding-right: 5px;
}

.security--list li:nth-child(2)::before {
    content: url(../assets/images/file-encrypted2.png);
    width: 10px !important;
    height: 10px !important;
    padding-right: 5px;
}

.security--list li:nth-child(3)::before {
    content: url(../assets/images/data-encryption.png);
    width: 10px !important;
    height: 10px !important;
    padding-right: 5px;
}
/* mini ipad screen*/
@media screen and (min-width: 620px) {
}

/* max ipad and mini laptop screen*/
@media screen and (min-width: 960px) {
    html {
        font-size: 18px;
    }

    .security--page--container .security--bg {
        width: 50% !important;
        max-width: 50%;
    }
}

/* desktop screen*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .security--page--container {
        padding-top: 40px;
    }
}
